Selection Sort

In [ ]:
def mengurutkan(alist):
  for slot in range(0,len(alist)-1):
    position=slot
    for location in range(slot+1,len(alist)):
      if alist[location]<alist[position]:
        position = location

    temp = alist[slot]
    alist[slot] = alist[position]
    alist[position] = temp
    print(alist)
angka = [5,2,4,3,7,10,9]
mengurutkan(angka)
print(angka)

[2, 5, 4, 3, 7, 10, 9]
[2, 3, 4, 5, 7, 10, 9]
[2, 3, 4, 5, 7, 10, 9]
[2, 3, 4, 5, 7, 10, 9]
[2, 3, 4, 5, 7, 10, 9]
[2, 3, 4, 5, 7, 9, 10]
[2, 3, 4, 5, 7, 9, 10]

Praktikum2

In [ ]:
#contoh penggunaan tuple
#program 1
#Create a tuple with different data types
print("program 1")
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

#program 2
print("program 2")
#Create a tuple with numbers
tuplex = 5, 10, 15, 20, 25
print(tuplex)
#Create a tuple of one item
tuplex = 5,
print(tuplex)

print("program 3")
#program 3
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex)
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

print("program 4")
#program 4
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex)
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

program 1
('tuple', False, 3.2, 1)
program 2
(5, 10, 15, 20, 25)
(5,)
program 3
(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)
program 4
(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

In [3]:
person = {'Name' : 'Nanda Veri Febriansyah', 'Pekerjaan' : 'Mekanik'}
print(person['Name'])
print(person['Pekerjaan'])

Nanda Veri Febriansyah
Mekanik